In [50]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import model_selection, preprocessing

In [51]:
test_df = pd.read_csv('test.csv')
train_df = pd.read_csv('train.csv')

In [52]:
train_df = train_df.drop(columns = 'Loan_ID')
print(train_df.loc[[23, 24, 25]])
train_df.head

Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
23    NaN     Yes          2  Not Graduate            No             3365
24   Male     Yes          1      Graduate           NaN             3717
25   Male     Yes          0      Graduate           Yes             9560

    CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
23             1917.0       112.0             360.0             0.0
24             2925.0       151.0             360.0             NaN
25                0.0       191.0             360.0             1.0

   Property_Area Loan_Status
23         Rural           N
24     Semiurban           N
25     Semiurban           Y

<bound method NDFrame.head of      Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0      Male      No          0      Graduate            No             5849
1      Male     Yes          1      Graduate            No             4583
2      Male     Yes          0      Graduate           Yes             3000
3      Male     Yes          0  Not Graduate            No             2583
4      Male      No          0      Graduate            No             6000
..      ...     ...        ...           ...           ...              ...
609  Female      No          0      Graduate            No             2900
610    Male     Yes         3+      Graduate            No             4106
611    Male     Yes          1      Graduate            No             8072
612    Male     Yes          2      Graduate            No             7583
613  Female      No          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0         NaN             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
..            ...         ...
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 12 columns]>

In [53]:
#replcae Nan values mode of Gender feature
print(train_df['Gender'].isna().sum())
inplace = train_df['Gender'].mode()[0]
print(inplace)
train_df['Gender'].fillna(inplace, inplace=True)
print(train_df.loc[[23, 24, 25]])
print(train_df['Gender'].isna().sum())

13
Male
   Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
23   Male     Yes          2  Not Graduate            No             3365
24   Male     Yes          1      Graduate           NaN             3717
25   Male     Yes          0      Graduate           Yes             9560

    CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
23             1917.0       112.0             360.0             0.0
24             2925.0       151.0             360.0             NaN
25                0.0       191.0             360.0             1.0

   Property_Area Loan_Status
23         Rural           N
24     Semiurban           N
25     Semiurban           Y
0

In [54]:
#replace '3+' with 3 in Dependents featrue
train_df['Dependents'] = train_df['Dependents'].replace('3+', 3)
print(train_df.loc[[7,8]])
print(train_df.loc[[104, 105, 106]])
print()
#replace Nan values with mode of Dependents feature
train_df['Dependents'].fillna(train_df['Dependents'].mode()[0], inplace = True)

print(train_df.loc[[104, 105, 106]])

Gender Married Dependents Education Self_Employed  ApplicantIncome  \
7   Male     Yes          3  Graduate            No             3036
8   Male     Yes          2  Graduate            No             4006

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
7             2504.0       158.0             360.0             0.0
8             1526.0       168.0             360.0             1.0

  Property_Area Loan_Status
7     Semiurban           N
8         Urban           Y
    Gender Married Dependents Education Self_Employed  ApplicantIncome  \
104   Male     NaN        NaN  Graduate            No             3816
105   Male     Yes          1  Graduate            No             3052
106   Male     Yes          2  Graduate            No            11417

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
104              754.0       160.0             360.0             1.0
105             1030.0       100.0             360.0             1.0
106             1126.0       225.0             360.0             1.0

    Property_Area Loan_Status
104         Urban           Y
105         Urban           Y
106         Urban           Y

    Gender Married Dependents Education Self_Employed  ApplicantIncome  \
104   Male     NaN          0  Graduate            No             3816
105   Male     Yes          1  Graduate            No             3052
106   Male     Yes          2  Graduate            No            11417

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
104              754.0       160.0             360.0             1.0
105             1030.0       100.0             360.0             1.0
106             1126.0       225.0             360.0             1.0

    Property_Area Loan_Status
104         Urban           Y
105         Urban           Y
106         Urban           Y